<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Image</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        .menu-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 4px; /* Espaço entre os itens */
        }

        .menu-item {
            display: flex;
            flex-direction: column; /* Coloca o texto acima do combo */
            align-items: center;
            font-size: 18px;
            margin-top: 5px;
            background-color: #3a0382; /* Background color for buttons */
            color: #FFFFFF; /* Text color */
            border-radius: 5px;
            padding: 5px;
            width: calc(50% - 8px); /* Define a largura para caber dois por linha */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .menu-container1 {
            display: flex;
            flex-direction: column; /* Coloca o texto acima do combo */
            align-items: center;
            font-size: 18px;
            margin-top: 5px;
            background-color: #3a0382; /* Background color for buttons */
            color: #FFFFFF; /* Text color */
            border-radius: 5px;
            padding: 5px;
            width: calc(100% - 8px); /* Define a largura para caber dois por linha */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .menu-item span {
            margin-bottom: 10px;
        }

        .menu-item select {
            font-size: 18px;
            padding: 10px;
            background-color: #FFFFFF; /* Background color for select */
            color: #3a0382; /* Text color for select */
            border: none;
            border-radius: 5px;
            width: 100%; /* Largura total do select */
        }

        .badge {
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            margin: 10px 0;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        /* Media queries for smaller screens */
        @media (max-width: 600px) {
            .menu-item {
                width: calc(40% - 8px); /* Ajusta a largura para caber dois por linha em telas menores */
                padding: 5px; /* Reduz o padding para economizar espaço */
                margin-top: 5px; /* Reduz o espaço superior */
                margin-bottom: 5px; 
            }

            .menu-item select {
                padding: 5px; /* Reduz o padding interno do select */
                font-size: 14px; /* Reduz o tamanho da fonte */
            }

            h1 {
                font-size: 24px;
            }
        }

        button {
            font-size: 18px;
            padding: 10px 20px;
            background-color: #3a0382; /* Same background color as other elements */
            color: #FFFFFF; /* Text color */
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #2e0266; /* Slightly darker shade for hover effect */
        }

        .button-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <%
    console.log(showTemplate);


    if (showTemplate.type_edit_template == 2 || showTemplate.type_edit_template == 3) { %>
    <div class="button-container">
        <button id="toggleFormButton" type="button">Mais Opções &#9660;</button>
    </div>
    <form id="updateTemplateWithoutJs" action="/publish/flyer/updateTemplateWithoutJs" method="POST" class="hidden">
        <div class="menu-container">
            <div class="menu-item">
                <span>Tamanho Fonte Preço:</span>
                <select name="size_price" id="size_price">
                    <option value="1" <% if (flyersData.size_price == 1) { %> selected <% } %>>1</option>
                    <option value="2" <% if (flyersData.size_price == 2) { %> selected <% } %>>2</option>
                    <option value="3" <% if (flyersData.size_price == 3) { %> selected <% } %>>3</option>

                    <option value="4" <% if (flyersData.size_price == 4) { %> selected <% } %>>4</option>
                    <option value="5" <% if (flyersData.size_price == 5) { %> selected <% } %>>5</option>
                    <option value="6" <% if (flyersData.size_price == 6) { %> selected <% } %>>6</option>

                    <option value="7" <% if (flyersData.size_price == 7) { %> selected <% } %>>7</option>
                    <option value="8" <% if (flyersData.size_price == 8) { %> selected <% } %>>8</option>
                    <option value="9" <% if (flyersData.size_price == 9) { %> selected <% } %>>9</option>
                    <option value="10" <% if (flyersData.size_price == 10) { %> selected <% } %>>10</option>
                    <option value="20" <% if (flyersData.size_price == 20) { %> selected <% } %>>20</option>
                    <option value="30" <% if (flyersData.size_price == 30) { %> selected <% } %>>30</option>
                    <option value="40" <% if (flyersData.size_price == 40) { %> selected <% } %>>40</option>
                    <option value="50" <% if (flyersData.size_price == 50) { %> selected <% } %>>50</option>
                    <option value="70" <% if (flyersData.size_price == 70) { %> selected <% } %>>70</option>
                    <option value="80" <% if (flyersData.size_price == 80) { %> selected <% } %>>80</option>
                    <option value="90" <% if (flyersData.size_price == 90) { %> selected <% } %>>90</option>
                    <option value="120" <% if (flyersData.size_price == 120) { %> selected <% } %>>120</option>
                    <option value="150" <% if (flyersData.size_price == 150) { %> selected <% } %>>150</option>
                </select>
            </div>
            <input type="hidden" id="idFlyer" name="idFlyer" value="<%=idFlyer%>" />
            <input type="hidden" id="idUser" name="idUser" value="<%=idUser%>" />
            <input type="hidden" id="idProductPublish" name="idProductPublish" value="<%=idProductPublish%>" />

            <div class="menu-item">
                <span>Tamanho Fonte Produto:</span>
                <select name="font_product" id="font_product">
                    <% 
                    // Definindo o intervalo de valores para as opções
                    const minValue = 1;
                    const maxValue = 20; // Ajuste conforme necessário
                    for (let i = minValue; i <= maxValue; i++) { 
                    %>
    <option value="<%= i %>" <% if (flyersData.font_product == i) { %> selected <% } %>><%= i %></option>
  <% } %>
                
                </select>
            </div>

            <div class="menu-item">
                <span>Tamanho Fonte cabeçalho:</span>
                <select name="font_header_size" id="font_header_size">
                    <option value="10" <% if (flyersData.font_header_size == 10) { %> selected <% } %>>10</option>
                    <option value="11" <% if (flyersData.font_header_size == 11) { %> selected <% } %>>11</option>
                    <option value="12" <% if (flyersData.font_header_size == 12) { %> selected <% } %>>12</option>
                    <option value="13" <% if (flyersData.font_header_size == 13) { %> selected <% } %>>13</option>
                    <option value="14" <% if (flyersData.font_header_size == 14) { %> selected <% } %>>14</option>
                    <option value="15" <% if (flyersData.font_header_size == 15) { %> selected <% } %>>15</option>
                    <option value="16" <% if (flyersData.font_header_size == 16) { %> selected <% } %>>16</option>
                    <option value="17" <% if (flyersData.font_header_size == 17) { %> selected <% } %>>17</option>
                    <option value="18" <% if (flyersData.font_header_size == 18) { %> selected <% } %>>18</option>
                    <option value="19" <% if (flyersData.font_header_size == 19) { %> selected <% } %>>19</option>
                </select>
            </div>

            <div class="menu-item">
                <span>Tamanho Fonte Rodapé:</span>
                <select name="font_bottom_size" id="font_bottom_size">
                   
                    <% 
                    // Definindo o intervalo de valores para as opções
                     // Ajuste conforme necessário
                    for (let i = minValue; i <= maxValue; i++) { 
                    %>
    <option value="<%= i %>" <% if (flyersData.font_bottom_size == i) { %> selected <% } %>><%= i %></option>
  <% } %>
               
                </select>
            </div>

            <div class="menu-item">
                <span>Tamanho Logo:</span>
                <select name="size_logo" id="size_logo">
                    <option value="1" <% if (flyersData.size_logo == 1) { %> selected <% } %>>1</option>
                    <option value="2" <% if (flyersData.size_logo == 2) { %> selected <% } %>>2</option>
                    <option value="3" <% if (flyersData.size_logo == 3) { %> selected <% } %>>3</option>
                    <option value="4" <% if (flyersData.size_logo == 4) { %> selected <% } %>>4</option>
                    <option value="5" <% if (flyersData.size_logo == 5) { %> selected <% } %>>5</option>
                   </select>
            </div>

            <%
            /* Só vou liberar acesso de altearção do tipo do post e do tamanho do produto 
            para os de fundo editável, testar os demais para liberar.*/
            if (showTemplate.type_edit_template == 3) { %>

            %>
            <div class="menu-item">
                <span>Tamanho Produtos:</span>
                <select name="size_product" id="size_product">
                    <option value="100" <% if (flyersData.size_product == 100) { %> selected <% } %>>100</option>
                    <option value="150" <% if (flyersData.size_product == 150) { %> selected <% } %>>150</option>
                    <option value="200" <% if (flyersData.size_product == 200) { %> selected <% } %>>200</option>
                    <option value="250" <% if (flyersData.size_product == 250) { %> selected <% } %>>250</option>
                    <option value="300" <% if (flyersData.size_product == 300) { %> selected <% } %>>300</option>
                   </select>
            </div>

            <div class="menu-item">
                <span>Tipo Post:</span>
                <select name="type_post" id="type_post">
                    <option value="1" <% if (flyersData.type_post == 1) { %> selected <% } %>>Story</option>
                    <option value="2" <% if (flyersData.type_post == 2) { %> selected <% } %>>Feed</option>
                 </select>
            </div>

            <%
        }

            %>

            <div class="menu-item">
                <span>Cor Fonte Produto:</span>
                <input type="color" name="font_collor_product" value="<%=flyersData.font_collor_product%>">
            </div>

            <div class="menu-item">
                <span>Cor Fonte Preço:</span>
                <input type="color" name="price_product_collor" value="<%=flyersData.price_product_collor%>">
            </div>

            <div class="menu-item">
                <span>Cor Tag Preço:</span>
                <input type="color" name="collor_tag_price" value="<%=flyersData.collor_tag_price%>">
            </div>

            <% if (showTemplate.type_edit_template == 3) { %>

            <div class="menu-item">
                <span>Cor Fundo:</span>
                <input type="color" name="background_template_collor" value="<%=flyersData.background_template_collor%>">
            </div>
            <% } %>

            <div class="menu-item">
                <span>Cor Textos:</span>
                <input type="color" name="font_color" value="<%=flyersData.font_color%>">
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Salvar Alterações</button>
        </div>
    </form>
    <% } else { %>
        <div class="menu-container1">
            <span>Visualização do Post  </span>
            <span>Esse modelo ainda não permite edição de Fonte ou Fundo.</span>

</div>
  <%  }%>
    <br/>
    <img src="<%= imageSrc %>" alt="Generated Image">

    <script>
        document.getElementById('toggleFormButton').addEventListener('click', function() {
            var form = document.getElementById('updateTemplateWithoutJs');
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden');
                this.innerHTML = 'Menos Opções &#9650;';
            } else {
                form.classList.add('hidden');
                this.innerHTML = 'Mais Opções &#9660;';
            }
        });
    </script>
</body>
</html>
