<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<%
let address = 'http://meusencartes.com.br/fivecart3';
//let address = 'http://localhost:8888/fivecart3';


let imageLogoWidth = '';
let imageLogoHeight = '';

if (showTemplate.type_template == 1) {
     imageLogoWidth = 120;
     imageLogoHeight = 120;
        if (userData.image_width) {
          imageLogoWidth = userData.image_width;
        } 
        if (userData.image_height) {
          imageLogoHeight = userData.image_height;
          }

} else if (showTemplate.type_template == 2) {
  imageLogoWidth = 300;
  imageLogoHeight = 300;
        if (userData.image_width_big) {
          imageLogoWidth = userData.image_width_big;
        } 
        if (userData.image_height_big) {
          imageLogoHeight = userData.image_height_big;
          }
}

let widthFlyer = 490;
let column_amount = 'auto auto auto';
if (flyer[0].column_amount == 4) {
  column_amount = 'auto auto auto auto';
  widthFlyer = 650
} else if (flyer[0].column_amount == 5) {
  column_amount = 'auto auto auto auto auto';
  widthFlyer = 812
} else if (flyer[0].column_amount == 6) {
  column_amount = 'auto auto auto auto auto auto';
  widthFlyer = 974
}

/*Show image backgroud*/
let background_image = '';
let textProductCollor = '';
console.log(showTemplate);
if (flyer[0].show_background == 1) {
  background_image = showTemplate.background_image;
  textProductCollor = showTemplate.product_collor_with_background;
} else {
  textProductCollor = showTemplate.font_collor_product;
}


%>
<!-- 162 each column more
490 - 3 columns 
650 - 4 columns 
812 - 5 Columns
-->
<style>
#salvar {
  top: 0;
  right: 0;
  height: 20px;
  padding: 30px 30px;
}
.image_format {
  width: 100%;
}
.grid-container {
  display: grid;
  
  /* CHANGE 3*/
  grid-template-columns: <%=column_amount%>;
  padding: 0px;
}
div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 150px;
  margin-bottom: -1;
  display: inline-block;
  align-self: flex-end;
}
div.gallery:hover {
  border: 1px solid #777;
}
.container_picture {
  position: relative;
  text-align: center;
  align: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
div.gallery img {
  padding-left: 60px;
  margin-top: -1px;
  /** @todo Ficou feio isso, esse -70 pra alinhar a esquerda */
  margin-left: -70px;
  align: center;
      object-fit: scale-down;
      width:  150px;
      height: 150px;
      object-position: bottom;
      
}
div.desc {
  width: 12,5em;
  word-break: break-all;
  text-align: left;
  text-justify: inter-word;
  white-space: break-spaces;
  font-family: "Helvetica", sans-serif;
  color: <%=textProductCollor%>; 
  padding: 4px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  width: 150px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
}
/* Bottom right text */
.text-block {
  position: relative;
  text-align: center;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.textUpper {
            font-size: 15px;
            bottom: 0;
            display: flex;
            align-items: center;
            left: 0;
}
.textBellow {
  font-size: 25px;
}
.textocentro {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  padding-top: 2px;
  display: flex;
  bottom: 0px;
  right: 20px;
  background-color: <%=showTemplate.main_color%>; 
  color: <%=showTemplate.font_color%>; 
  padding-left: 10px;
  padding-right: 10px;
}
.container_text_button_1 {
  position: relative;
  display: grid;
  padding: 0px;
  
}
.container_text_button {
  position: relative;
}
.tudo {
  position: relative;
}
.text_button_right {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  
  padding-left: 70%;
  color: <%=showTemplate.font_color%>; 
  text: bold;
  width: 200px;
  /*
  padding-left: 60px;
  */
  
  padding-right: 10px;
  align: right;
}
.text_button_left {
  line-height: 125%;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
  position: absolute;
  bottom: 80px;
  left: 10px;
  color: <%=showTemplate.font_color%>; 
  text: bold;
  width: 300px;
  padding-left: 0px;
  padding-right: 20px;
  align: center;
}
.logo {
  border-radius: 0px;
  padding: 100px;
  /* CHANGE 2 
  padding-left: 140px;
  */
  padding-left: 40%;
  bottom: -95px;
  width: <%=imageLogoWidth%>px;
  height: <%=imageLogoHeight%>px;
   
  position: absolute;
  align-content: center;
  object-position: bottom;
}
.companyName {
  border-radius: 0px;
  padding: 100px;
  font-size: 20px;
  padding-left: 30%;
  bottom: -145px;
  color: <%=showTemplate.font_color%>; 
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
  font-stretch: condensed;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: <%=showTemplate.font_color%>; /* cor da borda */
  width: 165px;
  height: 90px;
  position: absolute;
  align-content: center;
  object-position: bottom;
}
.footer_text {
  font-size: 25px;
  position: absolute;
  bottom: 10;
  left: 10px;
  color: <%=showTemplate.font_color%>; 
  text: bold;
  padding-left: 20px;
  padding-right: 20px;
  align: left;
}
.iconDetails {
  margin-left: 2%;
  float: left;
  height: 30px;
  width: 30px;
}
.container2 {
  text-transform: capitalize;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  left: 10px;
  height: auto;
  padding: 2%;
  float: left;
}
h4 {
  margin: 0;
  font-size: 16px;
  width: 400px;
  color: <%=showTemplate.font_collor_bottom%>; 
  text-transform: capitalize;
}
.left {
  float: left;
  width: 45px;
}
.right {
  float: left;
  margin: 0 0 0 5px;
  width: 215px;
}
body {
    width: <%=widthFlyer%>px;
    
    /* CHANGE 2 */
   
    background-color: #FFFFFF; 
}


.imagem {
  width: 100%; 
        background-image: url('<%= address + '/images/templates/' + background_image %>');
      
        background-size: cover;

         /*   background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;

      }
</style>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">

<body>
  <div class="container_text_button">
  
<% if (showTemplate.has_logo == 0) { 
  
  if (userData.image_link) {   image_address
  %>
    <img class="logo" src= <%= userData.image_address + userData.image_link %> 
 
<% } else { %>
  <h3 class="companyName"><%=userData.company_name%></h3>
  <% } %>
<% } %>
<!-- CHANGE 1-->
<img class = "image_format" src= <%= address + '/images/templates/' + showTemplate.header_image %> >

<div class="text_button_right"><% if (flyer[0].header2 != '') { %> <p> <%=flyer[0].header2  %> </p> <% } else { %> <p> <%=showTemplate.header_text_right %> </p> <% } %></div>


<% if (flyer[0].header_left_text != '') { %>
  <div class="text_button_left"> <p><%=flyer[0].header_left_text %> </p></div>
<% } %>

</div>
<div class="imagem">

<div class="grid-container">

<% for (var i=0; i< flyer.length; i++) { 
  var image_address = flyer[i].image_address + flyer[i].image_link;  

  console.log("Image>>> " + image_address);
  %>
    <div class="gallery">
      <div class="container_picture">
        <img src= "<%=image_address %>"  alt="Snow" width="100" height="130"/>
        <% var actPrice = flyer[i].price; 
        var newPrice = actPrice.toLocaleString('pt-br', {minimumFractionDigits: 2});
        %>
      <div class="textocentro">
        <div class="textUpper">R$</div>
        <div class="textBellow"><%=newPrice %></div>
      </div>
</div>
    <div class="desc"><%=flyer[i].name_product%></div>
    </div>
    <% } %>

</div>
</div>

<div class="container_text_button_1">
    <img class ="image_format" src= <%= address + '/images/templates/' + showTemplate.footer_image %> height="50">

  <% 
  
  if (showTemplate.has_footer_text == 0) {
  //Must observate it, becouse sometimes the template will be complete.
    %>
  <div class='container2'>
      <div class="left">
          <img src= <%=address + '/images/icons/watsapp_icon1.png' %> class='iconDetails'>
      </div>  
  <div class="right">
<%
let footer_text = "";
let footer_text2 = "";

if (flyer[0].footer_text) {
  footer_text = flyer[0].footer_text;
}else if (userData.footer_text) {
 
  footer_text = userData.footer_text;
} else if (showTemplate.footer_text2) {

  footer_text = showTemplate.footer_text;
  
}

if (flyer[0].footer_text2) {
  footer_text2 = flyer[0].footer_text2;
  console.log("ENTROU 1 >>>> >>>> ");

}else if (userData.footer_text2) {
  console.log("ENTROU 2 >>>> >>>> ");

   footer_text2 = userData.footer_text2;
} else if (showTemplate.footer_text2) {
  console.log("ENTROU 3");
  footer_text2 = showTemplate.footer_text2;
  
}






%>
 <h4> <%=footer_text %> </h4> 
  <div style="font-size:.6em;width:400px;float:left; padding-top:5px; text-transform: capitalize;"> <h4> <%=footer_text2 %> </h4> </div>
  </div>
</div>
<% } %>

</div>

</body>
</html>