<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <%
let imageLogoWidth = '';
let imageLogoHeight = '';

if (showTemplate.type_template == 1) {
     imageLogoWidth = 120;
     imageLogoHeight = 120;
        if (userData.image_width) {
          imageLogoWidth = userData.image_width;
        } 
        if (userData.image_height) {
          imageLogoHeight = userData.image_height;
          }

} else if (showTemplate.type_template == 2) {
  imageLogoWidth = 300;
  imageLogoHeight = 300;
        if (userData.image_width_big) {
          imageLogoWidth = userData.image_width_big;
        } 
        if (userData.image_height_big) {
          imageLogoHeight = userData.image_height_big;
          }
}
      
      %>
    <style>
 
.companyName {
  font-size: 30px;
      margin-left: 700px;
    
    
      align-content: center;
      object-position: bottom;
      color: <%=showTemplate.font_color%>; 
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
  font-stretch: condensed;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: <%=showTemplate.font_color%>; /* cor da borda */

    width: <%=imageLogoWidth%>px;
      height: <%=imageLogoHeight%>px;
    
  align-content: center;
  object-position: bottom;
}

        .div-1 {
            background-color: #EBEBEB;
        }
        
        .div-2 {
            
            height: 800px;
            width: 100%;
    
      
        }
        
        .div-3 {
          background-color: #FBD603;
        }
    
        .logo {
    
      
      width: <%=imageLogoWidth%>px;
      height: <%=imageLogoHeight%>px;
      margin-left: 700px;
    
    
      align-content: center;
      object-position: bottom;
    
    }
    
    .imagem {
        background-image: url('<%='http://meusencartes.com.br/fivecart3/images/templates/' + showTemplate.middle_image %>');
      
        background-size: 100%;
      }
    
      div.gallery {
    /* Ajuste 1: POSIÇÃO DO PRODUTO*/
    margin-top: -350px;
        
    
    }
    
      div.gallery img {
      padding-left: 60px;
    
    
      /** @todo Ficou feio isso, esse -70 pra alinhar a esquerda */
      margin-left: -70px;
    
    
    
          object-fit: scale-down;
           /*Aqui 2 - Tamanho imagem*/
          width:  700px;
          height: 700px;
          padding-bottom: 40px;
          object-position: bottom;

    
    
    }
    
    div.desc {
      text-align: left;
    
      font-family: "Helvetica", sans-serif;
     
      text-transform: uppercase;
      /*Aqui 2 - Tamanho texto produto*/
      font-size: 40px;

      /* Ajuste 2: Tamanho da caixa do produto*/
      width: 500px;
     
     
      margin-left: 140px;
        margin-top: -60px;
        /*Espaço entre nome do produto e texto do rodapé.*/
    padding-bottom: 40px;
    }
    
    
    .textUpper {
                font-size: 15px;
                bottom: 0;
                display: flex;
                align-items: center;
                left: 0;
    
    }
    .textBellow {
      /*Aqui 2 - Tamanho preço*/
      font-size: 60px;
    
    }
    
    .textocentro {
      font-family: "Helvetica", sans-serif;
      position: absolute;
      padding-top: 4px;
      margin-bottom: 400px;
      margin-left: 40px;
      display: flex;
        /*Aqui 2 - Texto- Alinhamento número*/
      bottom: 90px;
      left: 450px;
      background-color: <%=showTemplate.main_color%>;  
      color: <%=showTemplate.font_color%>; 
      padding-left: 20px;
      padding-right: 10px;
    
    }
    
    .container_text_button_1 {
      position: relative;
      display: grid;
    
      
    }
    .container2 {
      text-transform: capitalize;
      font-family: "Helvetica", sans-serif;
      font-size: 15px;
      color: #000000;
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      left: 10px;
      height: auto;
      padding: 0%;
      float: left;
    }
    
    h5 {
      text-transform: capitalize;
      font-family: "Helvetica", sans-serif;
      font-size: 15px;
      margin: 0;
      width: 400px;
      color: <%=showTemplate.font_color_bottom%>; 
      text-transform: capitalize;
    }
    </style>
    
    <head></head>
    
    <body>
        <div class="div-2 imagem">
    
    
          <div class="container_text_button">
  
            <% if (showTemplate.has_logo == 0) { 
              
              if (userData.image_link) {
              %>
                <img class="logo" src="<%='http://meusencartes.com.br/fivecart3/images/logos/' + userData.image_link %>"
             
            <% } else { %>
              <h4 class="companyName"> <%=userData.company_name%></h4>
              <% } %>
            <% } %>
            <!-- FICAVA AQUI O TEMPLATE DO CABEÇALHO 1-->
         
            
            <div class="text_button_right"><% if (flyer[0].header2 != '') { %> <p> <%=flyer[0].header2  %> </p> <% } else { %> <p> <%=showTemplate.header_text_right %> </p> <% } %></div>
            
            
            <% if (flyer[0].header_left_text != '') { %>
              <div class="text_button_left"> <p><%=flyer[0].header_left_text %> </p></div>
            <% } %>
            
            </div>
        
        
            <% for (var i=0; i< flyer.length; i++) { %>
        
            <div class="gallery">
             
              <img src="<%= 'http://meusencartes.com.br/fivecart3/images/Products/' + flyer[i].image_link%>"  alt="Snow" width="100" height="130"/>
        <% var actPrice = flyer[i].price; 
        var newPrice = actPrice.toLocaleString('pt-br', {minimumFractionDigits: 2});
        %>
                
                
             
        
              <div class="textocentro">
        <div class="textUpper">R$</div>
        <div class="textBellow"><%=newPrice %></div>
      </div>
        
     
       
      <div class="desc"><%=flyer[i].name_product%></div>

            
      <% } %>       
    </div>
        
        
        
        
            </div>
        
    
    
            <div class="container_text_button_1">
          
            <% 
            
            if (showTemplate.has_footer_text == 0) {
            //Must observate it, becouse sometimes the template will be complete.
              %>
            <div class='container2'>
            
            <div class="right">
          <%
          let footer_text = "";
          let footer_text2 = "";
          if (flyer[0].footer_text) {
            footer_text = flyer[0].footer_text;
            footer_text2 = flyer[0].footer_text2;
          }else if (userData.footer_text) {
           
            footer_text = userData.footer_text;
            footer_text2 = userData.footer_text2;
          } else if (showTemplate.footer_text2) {
           
            footer_text = showTemplate.footer_text;
            footer_text2 = showTemplate.footer_text2;
            
          }
          %>
           <h5> <%=footer_text %> </h5> 
            <div style="font-size:.6em;width:400px;float:left; padding-top:5px; text-transform: capitalize;"> <h5> <%=footer_text2 %> </h5> </div>
            </div>
          </div>
          <% } %>
          
          </div>

    
        </div>
      </div>
    </div>
    </body>
    
    </html>